

$line-height: 1pt;

.ultralight-line {
    height: $line-height;
    color: $ultralight-line-color;
}

.light-line {
    height: $line-height;
    color: $light-line-color;
}

.medium-line {
    height: $line-height;
    color: $medium-line-color;
}
