
@mixin set-font-family($device) {
    @if $device == ios {
        font-family: SF UI Text;
    }
    @if $device == android {
        font-family: Roboto;
    }
    @if $device == online {
        font-family: Salesforce Sans;
    }
    @if $device == windows {
        font-family: Segoe UI;
    }
}

//Placeholders for font-weights
//Not included in final CSS
%thin {
    font-weight: 100;
}

%light {
    font-weight: 300;
}

%regular {
    font-weight: 400;
}

%semibold {
    font-weight: 600;
}

//Define named styles
.text-regular {
    text-color: $dark-text;
    @extend %regular;
    @include size(medium, ems);
}

.text-bold {
    text-color: $dark-text;
    @extend %semibold;
    @include size(medium, ems);
}

.text-soft {
    text-color: $soft-text;
    @extend %regular;
    @include size(medium, ems);
}

.text-regular-lightwt {
    text-color: $dark-text;
    @extend %light;
    @include size(medium, ems);
}

.text-soft-lightwt {
    text-color: $soft-text;
    @extend %light;
    @include size(medium, ems);
}

.text-reverse {
    text-color: $reverse;
    @extend %regular;
    @include size(medium, ems);
}

.text-reverse-light {
    text-color: $reverse;
    @extend %light;
    @include size(medium, ems);
}

.field-label {
    text-color: $dark-text;
    @extend %semibold;
    @include size(small, ems);
}

.field-value {
    text-color: $soft-text;
    @extend %regular;
    @include size(medium, ems);
}

.field-value-bold {
    text-color: $dark-text;
    @extend %semibold;
    @include size(medium, ems);
}

.alert {
    text-color: $alert;
    @extend %regular;
    @include size(medium, ems);
}

.warning {
    text-color: $warning-text;
    @extend %regular;
    @include size(medium, ems);
}

.tablecolumn-header {
    text-color: $dark-text;
    @extend %semibold;
    @include size(small, ems);
}

.tablecolumn-value {
    text-color: $soft-text;
    @extend %regular;
    @include size(smaller, ems);
}

//Buttons
.button-link {
    text-color: $accent;
    @extend %light;
    @include size(medium, ems);
}

.button-link-preferred {
    text-color: $accent;
    @extend %semibold;
    @include size(medium, ems);
}

.button-titlebar {
    text-color: $reverse;
    @extend %light;
    @include size(medium, ems);
}

.button-titlebar-disabled {
    text-color: $reverse;
    opacity: .5;
    @extend %light;
    @include size(medium, ems);
}

.button-bounded {
    text-color: $accent;
    border-color: $accent;
    border-width: 1pt;
    @extend %light;
    @include size(medium, ems);
}

.button-bounded-preferred {
    text-color: $reverse;
    background-color: $accent;
    @extend %light;
    @include size(medium, ems);
}

.button-disabled {
    @extend %disabled-text;
    @extend %light;
    @include size(medium, ems);
}

.button-secondary {
    text-color: $soft-text;
    @extend %light;
    @include size(medium, ems);
}

//Calendar
.cal-heading {
    text-color: $dark-text;
    @extend %regular;
    @include size(large, ems);
}

.cal-details {
    text-color: $dark-text;
    @extend %regular;
    @include size(medium, ems);
}

.cal-details-small {
    text-color: $dark-text;
    @extend %light;
    @include size(ex-small, ems);
}

//Menus
.menu-item {
    text-color: $dark-text;
    @extend %regular;
    @include size(medium, ems);
}

.menu-item-disabled {
    @extend %disabled-text;
    @extend %regular;
    @include size(medium, ems);
}

//Titles
.title-titlebar {
    text-color: $reverse;
    @extend %regular;
    @include size(large, ems);
}

.title-dialog {
    text-color: $dark-text;
    @extend %semibold;
    @include size(med-large, ems);
}

.title-light {
    text-color: $dark-text;
    @extend %light;
    @include size(med-large, ems);
}

.card-title {
    text-color: $dark-text;
    @extend %semibold;
    @include size(large, ems);
}

//Forms
.form-label {
    @extend .field-label;
}

.form-value {
    text-color: $dark-text;
    @extend %regular;
    @include size(medium, ems);
}

.form-value-readonly {
    text-color: $soft-text;
    @extend %regular;
    @include size(medium, ems);
}

.form-fieldprompt {
    text-color: $dark-text;
    font-style: italic;
    @extend %regular;
    @include size(medium, ems);
}

.toast {
    text-color: $accent;
    @extend %regular;
    @include size(smaller, ems);
}

.segcontrol {
    text-color: $soft-text;
    @extend %light;
    @include size(medium, ems);
}

.segcontrol-selected {
    text-color: $accent;
    @extend %semibold;
    @include size(medium, ems);
}
