$title-height: 35pt;
$body-height: 80pt;
$body-margin: 10pt;
// .x-msgbox-title {
//     background-color: $bg-ultralight;
//     height: $title-height;
//
//     & > .x-body {
//         background: none;
//     }
//
//     .x-title {
//         @extend .title-dialog;
//     }
// }
//
// .x-msgbox {
//     & > .x-dock > .x-dock-body {
//         margin: $body-margin;
//         min-height: $body-height;
//     }
//
//     .x-button {
//         height: 35pt;
//         flex: 1;
//         margin: 0;
//         border: 1px solid #e4e4e4;
//     }
//
//     @extend .medium-shadow;
// }
//
// .x-msgbox-buttons {
//     padding: 0;
//
//     & > .x-inner {
//         display: flex;
//     }
// }

.dialog {

    border-radius: 2px;
    .dialog-title {
        background-color: $bg-ultralight;
        height: $title-height;

        .x-title {
            @extend .title-dialog;
        }
        & > .x-body {
            background: none;
        }
    }

    .dialog-inner {
        background: white;
        border: 1px solid $bg-light;
        padding: 20pt;

        .dialog-text {
            min-height: 60pt;
            @extend .text-regular;
        }
    }

    .dialog-buttons {
        padding: 0;

        .x-button {
            margin: 0;
            border: 1px solid $bg-light;
        }
    }
}
